body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #333;
	background-color: #eaeaea;
	font-size: 16px;
}
.section-main{
	background-color: #556b2f;
	padding-top: 40px;
	padding-bottom: 120px ;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.section-main-logo{
	width: 160px;
}
.section-main-title{
	margin-top: 40px;
	margin-bottom: 20px;
	color: #fff;
	font-family: 'Lora', serif;
	font-size: 55px;
	font-weight: 700 ;
}
.section-main-subtitle{
	margin-bottom: 40px;
	color: #fff;
	font-size: 22px;
}
.section-main-button{
	background-color: #8fbc8f;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-weight: bold ;
	text-transform:uppercase ;
	padding: 12px 30px;
	cursor: pointer;

}
.second-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top:100px;
	padding-bottom: 100px;
}
.second-section-img{
	width: 500px;
	border: 5px solid #556b2f;
	border-radius:20px;
}
.second-section-info{
	margin-left: 30px;
	max-width: 600px;

}

.section-subtitle{
	margin-top: 0;
	margin-bottom:10 ;
	color: #8fbc8f;
	size: 18px;
	font-weight:bold;
	text-transform: uppercase;
}
.section-title{
	margin-top: 0;
	margin-bottom: 40px;
	color: #556b2f;
	size: 32px;
	font-weight:bold;
	text-transform: capitalize;

}
.second-section-text{
	margin: 30px;
	color: #666;
	font-size: 18px;
}
.second-section-name{
	color: #556b2f;
	text-transform: capitalize;
}
.second-section-name2{
	color: #8fbc8f;
	font-weight:bold;
	text-transform: uppercase;
}
.third-section{
	display: flex;
	flex-direction: column;
	background-color: #f5f5f5;
	padding-top: 100px;
	padding-bottom: 100px ;
	align-items: center;
}
.third-section-books{
	display: flex;
	margin-top: 50px;
	flex-wrap: wrap ;
	justify-content:center;
	align-items: center;
}
.third-section-book{
	display: flex;
	margin: 10px 20px;
	align-items: center;
	flex-direction: column;
}
.book-img{
	height: 200px;
}
.book-title{
	margin-top: 10;
	margin-bottom: 5;
	color: #556b2f;
	font-size: 22px;
	font-weight:bold;
}
.book-author{
	margin: 2px 0;
	color: #666;
}
.book-price{
	margin: 0;
	color: #8fbc8f;
	font-size: 20px;
	font-weight: bold;
}
.footer{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #2f4f4f;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-title{
	color: #fff;
}
.footer-text{
	width: 600px;
	text-align:center;
	margin-top: 0;
	margin-bottom: 20;
	color: #8fbc8f;
	font-size: 20px;
}
.footer-text-main{
	color: #fff;
}
.footer-form{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.form-title{
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: #fff;
	font-weight:bold;
	text-transform: uppercase;

}
.form-input{
	width: 400px;
	height: 40px;
	margin-bottom: 10px;
	padding: 0 10px;
	background-color:#2f4f4f ;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 8px;
}
.footer-button{
	margin-top: 30px;
	padding: 10px 20px;
	background-color: #8fbc8f;
	color: #fff;
	font-weight:bold;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}